<?xml version="1.0"?>
<config>
    <modules>
        <Ipaymu_Icheckout>
            <version>1.0.0</version>
        </Ipaymu_Icheckout>
    </modules>
    <global>
        <blocks>
            <icheckout>
                <class>Ipaymu_Icheckout_Block</class>
            </icheckout>
        </blocks>
        <models>
            <icheckout>
                <class>Ipaymu_Icheckout_Model</class>
            </icheckout>
        </models>
        <helpers>
            <icheckout>
                <class>Ipaymu_Icheckout_Helper</class>
            </icheckout>
        </helpers>
    </global>
    <default>
        <payment>
            <icheckout>
                <active>0</active>
                <title>Ipaymu Checkout</title>
                <model>icheckout/icheckout</model> 
                <allowspecific>0</allowspecific>
                <apiurl>https://my.ipaymu.com/payment.htm</apiurl>
            </icheckout>
        </payment>
    </default>
    <frontend>
       <routers>
          <icheckout>
              <use>standard</use>
              <args>
                 <module>Ipaymu_Icheckout</module>
                 <frontName>ipaymu</frontName>
              </args>
           </icheckout>
       </routers>
    </frontend>
</config>